{
      margin: 0:
      padding: 0;
   
 }
 
 . main{
      width: 100%;
      background: linear-gradiant(to top, rgba(0,0,0,0,5)50%, rgba(0,0,0,0,5)50%), url(1.jpg)
      background-position: centre;
      background-size: cover;
      height: 109vh;
 }
  
 . navbar{
      Width: 120px;
      hight: 75px;
      margin: auto;
 }

 .icon{
     width: 200px;
     float: left;
     height: 70px;
}

 . logo{
      colour: #ff7200;
      font-size: 35px;
      font-family: arial;
      padding-left: 20px;
      float: left;
      padding-top: 10px;
      
 }